html {width: 100%; }
body { margin: 0 auto; margin-bottom: 50px; height: 100%;}
body, button, input, p, select, table { font-family: 'Lato', sans-serif; font-weight: 300; }
p, table { font-weight: 300;}
h1,h2,h3,h4,h5,h6 { font-family: 'Arvo', sans-serif; color: #666; margin-bottom: 20px; font-weight: 700;}
h1 { font-size: 48px; color: #00577b; }
button { font-family: 'Arvo', sans-serif; font-weight: 700; }

/* Navigation */

.nav-section { max-width: 960px; margin: 0 auto; height: 50px; margin-top: 10px; padding-left: 20px; padding-right: 20px; }
.pure-menu .pure-menu-heading { text-transform: none; font-family: 'Arvo', sans-serif; font-size: 18px; padding-left: 0; }
.pure-menu .pure-menu-heading:hover { color: #00577b; }
.pure-menu li a { font-weight: 300; }
.pure-menu li a:hover, .pure-menu li a:focus { background: none; text-decoration: underline; }
.pure-menu li.pure-menu-selected a { font-weight: 700; }
.pure-menu.pure-menu-open { width: auto; }

a { color: #666; cursor: pointer !important; text-decoration: none; font-weight: 700; }
a:hover { color: #00577b; }
.footer { text-align: center; padding-top: 25px; padding-bottom: 15px; max-width: 960px; margin: 0 auto;}
.footer p {width: 100%;}
.footer .copyright { font-size: 18px; }
.footer .credits { font-size: 15px; }
.footer .nusmods { font-size: 13px; }
.fb-like { margin: 0 auto; }
.pure-button-primary { background-color: #00577b; }
.pure-button-primary:hover {
    background-color: #ccc;
}

/* Landing Page */
.landing { width: 400px; padding-left: 10px; padding-right: 10px; }
@media only screen and (max-width: 480px) { .landing { width: 300px; padding-left: 10px; padding-right: 10px; } }
.landing p { text-align: center;}
.logo-container { text-align: center;}
.logo { margin: 0 auto; margin-top: 30px; margin-bottom: -30px;}
.main-title { text-align: center;}
label.pure-radio { width: 8em !important; text-align: left !important; display: block !important; }
@media only screen and (max-width: 480px) { .pure-form input[type=text] { display: inline-block; }}
.pure-form-aligned .pure-control-group label { width: 6em; }
label { display: inline-block !important; margin-left: 10px; margin-right: 10px;}
span.label-title { font-size: 1.25em;margin-right: 30px; width: 150px; display: inline-block; text-align: right;}
#submit-button { cursor: pointer;width:200px; margin: 0 auto; display: block; font-size: 1.25em; }
.error { color: red; font-size: 1.25em; text-align: center;}
.current-round { color: red; font-weight: 700; }

/* Search Results */
.search-again { text-align: right;}
#search-container { display: none; }

.bookmarks-container { }
.bookmarks-section { background-color: #eee; border-radius: 5px; padding-top: 10px; }
.bookmarks-section ul { margin: 0; padding-left: 10px;}
.bookmarks-section ul li { display: inline-block; list-style: none; padding: 5px 10px; border-radius: 5px; background-color: #ccc; margin-right: 10px; margin-bottom: 10px; }
.bookmarks-section .bookmark-delete { margin-left: 3px; color: #999; cursor: pointer; }
.bookmarks-section .bookmark-delete:hover { color: #fff; }
.bookmark-module { width: 100%; text-align: right; }
.bookmark-module a { color: rgb(206, 181, 0); }
.bookmarked { font-weight: 700; color: rgb(0, 196, 63);}

.main-container { padding-left: 20px; padding-right: 20px; max-width: 960px; margin: 0 auto; }

.results-search-form { width: 320px; margin: 0 auto; }
.results-screen div { transition: opacity 0.5s; -webkit-transition: opacity 0.5s;}
.invisible { opacity: 0 }
.loading-screen { width: 100%; height: 100%; }
.loading-screen img { width: 50px; height: 50px; position: absolute; top: 45%; left: 50%; margin-left: -25px; margin-top: -25px;}
.loading-screen .error-container { position: absolute; top: 50%; text-align: center; width: 600px; left: 50%; margin-left: -300px; }
.loading-screen .error-container p { width: 100%; }
.module-description-table td:first-child { font-weight: 400; background-color: #eee; }
.pure-table-bordered th { border-bottom: 1px solid #cbcbcb; background-color: #eee; }
table {table-layout: fixed;}
.bidding-history-table {  }
.bidding-history-table table { text-align: center; min-width: 800px; }
.bidding-history-table .lecture-group { width: 120px; }
.bidding-history-table .bidding-round { width: 120px; }
.bidding-history-table .success { font-weight: 400; color: rgb(0, 196, 63); }
.ui-tabs .ui-tabs-panel { padding: 0; }
.ui-tabs-active { background-color: #eee; border-radius: 5px; }
.ui-tabs-anchor:hover { background-color: #ccc; border-radius: 5px; }
.ui-tabs-anchor:focus { outline: none;}
.empty-data {text-align: center; margin-top: 30px; }
a.module-links { color: #00577b; text-decoration: underline; }
a.module-links:hover { color: #666; }

/* About Page */
.about-container [class^="icon-"] { margin: 0 2px; }
.about-container .info-container { position: relative; margin: 25px 0 35px 0; }
.about-container .info-container h2 { margin-top: 0; }
.about-container img { border-radius: 75px; position: absolute; }
.about-container .info { display: inline-block; margin-left: 180px; }
@media only screen and (max-width: 480px) { 
    .about-container .info-container { text-align: center; width: 100%; }
    .about-container img { position: static; margin-bottom: 20px; }
    .about-container .info { margin-left: 0; }
}
