body { width: 960px; margin: 0 auto; margin-bottom: 50px;}
body, button, input, p, select, table { font-family: 'Lato', sans-serif; font-weight: 300; }
p, table { font-weight: 300;}
h1,h2,h3,h4,h5,h6 { margin-bottom: 20px; font-weight: 700;}

a { color: #666; cursor: pointer !important; }
/* Landing Page */
.landing { width: 400px;}
.logo-container { text-align: center;}
.logo { margin: 0 auto; margin-top: 30px; margin-bottom: -30px;}
.main-title { text-align: center;}
.landing label.pure-radio { width: 70px; }
label { display: inline-block !important; margin-left: 10px; margin-right: 10px;}
span.label-title { font-size: 1.25em;margin-right: 30px; width: 150px; display: inline-block; text-align: right;}
#submit-button { cursor: pointer;width:200px; margin: 0 auto; display: block; font-size: 1.25em;}
.error { color: red; font-size: 1.25em; text-align: center;}

/* Search Results */
.results-screen div { transition: opacity 0.5s; -webkit-transition: opacity 0.5s;}
.invisible { opacity: 0 }
.loading-screen { width: 100%; height: 100%; }
.loading-screen img { width: 50px; height: 50px; position: absolute; top: 45%; left: 50%; margin-left: -25px; margin-top: -25px;}
.loading-screen p { position: absolute; top: 50%; text-align: center; width: 960px; }
.module-description-table td:first-child { font-weight: 400; background-color: #eee; }
.pure-table-bordered th { border-bottom: 1px solid #cbcbcb; background-color: #eee; }
table {table-layout: fixed;}
.bidding-history-table table { text-align: center; }
.bidding-history-table .lecture-group { width: 120px; }
.bidding-history-table .bidding-round { width: 120px; }
.ui-tabs .ui-tabs-panel { padding: 0; }
.ui-tabs-active { background-color: #eee; border-radius: 5px; }
.ui-tabs-anchor:hover { background-color: #ccc; border-radius: 5px; }
.ui-tabs-anchor:focus { outline: none;}