extends layout

block content
  include nav
  
  div(class="main-container about-container")
    div(class="pure-g")
      div(class="pure-u-1")
        h1 About
        hr
        div(class="info-container", id="weiqing")
          img(src="http://m.c.lnkd.licdn.com/media/p/1/000/204/3a3/3ec3095.jpg", width="150")
          div(class="info")
            h2 Toh Weiqing
            p Weiqing swims every other day to keep fit, and studies at NUS. He wants to make the world a better place, solving 1 problem at a time. He seeks to provide lasting value and impact to organisations that he is involved in. Weiqing aspires to be a data strategist, drawing out relationships and crafting actionable strategies, having done this through various experiences.
            a(onclick="_gaq.push(['_trackEvent', 'Weiqing', 'Facebook']);", href="https://www.facebook.com/tohweiqing" target="_blank"): i(class="icon-facebook-sign icon-large")
            a(onclick="_gaq.push(['_trackEvent', 'Weiqing', 'LinkedIn']);", href="http://www.linkedin.com/profile/view?id=120065349&locale=en_US&trk=tyah" target="_blank"): i(class="icon-linkedin-sign icon-large")
            a(onclick="_gaq.push(['_trackEvent', 'Weiqing', 'Github']);", href="https://www.github.com/weiqingtoh" target="_blank"): i(class="icon-github-sign icon-large")
          </div>
        </div>
        div(class="info-container", id="yangshun")
          img(src="https://graph.facebook.com/yangshun/picture?type=large", width="150")
          div(class="info")
            h2 Tay Yang Shun
            p A driven and creative person, Yang Shun's two main passions lie in coding and designing. He has developed a few apps for the iOS platform and has extensive experience in graphic designing having performed freelance design tasks and winning design competitions. He spent a year in Silicon Valley as a Software Engineering intern at a bay area startup, exploring front-end web development technologies and is currently building beautiful kickass sites.
            a(onclick="_gaq.push(['_trackEvent', 'Yang Shun', 'Facebook']);", href="https://www.facebook.com/yangshun", target="_blank"): i(class="icon-facebook-sign icon-large")
            a(onclick="_gaq.push(['_trackEvent', 'Yang Shun', 'LinkedIn']);", href="http://www.linkedin.com/profile/view?id=95566039&trk=nav_responsive_tab_profile", target="_blank"): i(class="icon-linkedin-sign icon-large")
            a(onclick="_gaq.push(['_trackEvent', 'Yang Shun', 'Github']);", href="https://www.github.com/yangshun", target="_blank"): i(class="icon-github-sign icon-large")
