extends layout

block content
  include nav
  
  div(class="main-container catalogue-container", ng-app, ng-controller="CatalogueController")
    div(class="pure-g")
      div(class="pure-u-1")
        h1 Catalogue
        hr
        p Here's a list of modules in the system.
        p(ng-repeat="mod in modules")
          a(href="{{linkify(mod[0])}}") {{mod[0]}} <span ng-show="mod[1]">- {{mod[1]}}</span>
  include footer
  script(type="text/javascript", src="/javascripts/catalogue-controller.js")