div(class="pure-g footer")
  div(class="pure-u-1")
    hr
    p(class="copyright")&copy; Corspedia 2014
    p(class="credits") Built by <a href="/about#weiqing">Toh Weiqing</a> and <a href="/about#yangshun">Tay Yang Shun</a>
    div(class="fb-like", data-href="https://www.facebook.com/Corspedia", data-send="false", data-width="300", data-show-faces="false")
    p
      iframe(src="http://ghbtns.com/github-btn.html?user=weiqingtoh&repo=corspedia&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20", style="margin-left:30px;")
      iframe(src="http://ghbtns.com/github-btn.html?user=weiqingtoh&repo=corspedia&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")
    p(class="nusmods") Found the module you need? Plan your timetable at <a href="http://www.nusmods.com" target="_blank">NUSMods.com</a>