div(class="nav-container")
  div(class="pure-menu pure-menu-open pure-menu-horizontal nav-section")
    a(href="/", class="pure-menu-heading") Corspedia
    ul
      li: a(href="/") Home
      //- li: a(href="/catalogue") All Modules
      li: a(href="/about") About
      li: a(href="/blog", target="_blank") Blog
      

