div(class="nav-container")
  div(class="pure-menu pure-menu-open pure-menu-horizontal nav-section")
    a(href="/", class="pure-menu-heading") Corspedia
    ul
      li: a(href="/") Home
      li
      li: a(href="/about") About