.question { font-weight: bold; }
td:not(:first-child) { text-align: center; }
.answered td { background-color: #F3FFCF !important; }
td.selected { background-color: #D5F37B !important; font-weight: bold; }
.btn-block-extended { display: block; text-align: center; }
.individual-section { margin-bottom: 40px; }
.survey-section {  border: 1px solid #666; margin: 10px;}
.btn-warning { margin-bottom: 20px; }
/*td.responses { padding:;}*/
/*td.responses div { border: 1px solid #ccc; display: inline-block; float: left; }*/